<footer class="bg text-center text-lg-start">

  <div id="linha-horizontal">
 <div class="container contact-box pt-2 d-flex justify-content-center">

    <div class="col-md-4">      
        <i class="fab fa-github-alt mr-2 mb-3"></i>
        <a href="https://github.com/IndicaJobs" target="_blank">Indica Job's</a>    
    </div>


 
    <div class="col-md-4">
        <i class="fas fa-at mr-2 mb-3"></i>
        <a href="mailto:indicajobs35@gmail.com" target="_blank">E-mail</a>        
    </div>
 

  
    <div class="col-md-4">      
        <i class="fas fa-map-marked-alt mr-2 mb-3"></i>
        <a href="">São Paulo-SP</a>        
    </div>
 </div>
 </div>
 

 

  <!-- Copyright -->
  <div class="text pt-1" style="background-color: rgba(0, 0, 0, 0.2);">
  <a class="text">Sobre nós: Indica Job's</a>
  </div>
  <div class="text p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text" href="brazil.generation.org">Generation Brasil</a>
  </div>
  <!-- Copyright -->
</footer>