<div class="bg">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 mt-5 mb-5">
                <h1 class="text-center fs-54">Apagar Tema</h1>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-12">
                <h4 class="text-center fs-18">Você tem certeza que deseja apagar esse tema? Todas as postagens
                    relacionadas a ele serão igualmente apagadas.</h4>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-12 d-flex justify-content-center">
                <h5 class="texte-center fs-12 linha">Tema: {{tema.tituloTema}}</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mb-4">
                <button class="btn hr borda-b txt mr-4" routerLink="/tema">Não</button>
                <button class="btn hb borda-b txt" (click)="apagar()">Sim</button>
            </div>
        </div>

    </div>
</div>

      <!--Footer-->
      <footer id="contato" class="bg text-center text-lg-start">

        <div id="linha-horizontal">
          <div class="container contact-box pt-2 d-flex justify-content-center">
  
            <div class="col-md-4 rodape">
              
              <a class="rodape" href="https://github.com/IndicaJobs" target="_blank"><i class="fab fa-github-alt mr-2 mb-3"></i>Indica Job's</a>
            </div>
  
  
  
            <div class="col-md-4 rodape">
              
              <a class="rodape" href="mailto:indicajobs35@gmail.com" target="_blank"><i class="fas fa-at mr-2 mb-3"></i>E-mail</a>
            </div>
  
  
  
            <div class="col-md-4 rodape">
              
              <a class="rodape" href=""><i class="fas fa-map-marked-alt mr-2 mb-3"></i>São Paulo-SP</a>
            </div>
          </div>
        </div>
  
  
  
  
        <!-- Copyright -->
        <div class="bg-footer">
        <div class="text pt-1" style="background-color: rgba(0, 0, 0, 0.2);">
          <a class="text">Sobre nós: Indica Job's</a>
        </div>
        <div class="text p-3 " style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright:
          <a class="text" href="brazil.generation.org">Generation Brasil</a>
        </div>
      </div>
        <!-- Copyright -->
      </footer>