<div class="main">


  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">

            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Recuperação de Senha</h4>
                      <div class="form-group">
                        <input type="email" name="logemail" class="form-style" placeholder="Entre com o seu E-mail" id="logemail" autocomplete="off">
                        <i class="input-icon uil uil-at"></i>
                      </div>

                      <a href="#" class="btn mt-4">Enviar</a>

                        </div>
                      </div>
                    </div>
