<div class="bg">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 mt-5 mb-5">
                <h1 class="text-center f-54">Atualizar Tema</h1>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-3 linha mb-5">

                <div class="form-group">
                    <label for="descricao">Título do Tema:</label>
                    <input type="text" class="form-control borda" id="descricao" [(ngModel)]="tema.tituloTema">
                </div>

                <div class="form-group">
                    <label for="descricao">Descrição do Tema:</label>
                    <textarea type="text" class="form-control borda" id="descricao"
                        [(ngModel)]="tema.descricaoTema"></textarea>
                </div>

                <div class="form-group">
                    <label for="descricao">Palavra Chave:</label>
                    <input type="text" class="form-control borda" id="descricao" [(ngModel)]="tema.palavraChave">
                </div>


                <div class="d-flex justify-content-center">
                    <button class="btn hr borda-b txt mr-4" routerLink="/tema">Cancelar</button>
                    <button class="btn hb borda-b txt" (click)="atualizar()">Atualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>

      <!--Footer-->
      <footer id="contato" class="bg text-center text-lg-start">

        <div id="linha-horizontal">
          <div class="container contact-box pt-2 d-flex justify-content-center">
  
            <div class="col-md-4 rodape">
              
              <a class="rodape" href="https://github.com/IndicaJobs" target="_blank"><i class="fab fa-github-alt mr-2 mb-3"></i>Indica Job's</a>
            </div>
  
  
  
            <div class="col-md-4 rodape">
              
              <a class="rodape" href="mailto:indicajobs35@gmail.com" target="_blank"><i class="fas fa-at mr-2 mb-3"></i>E-mail</a>
            </div>
  
  
  
            <div class="col-md-4 rodape">
              
              <a class="rodape" href=""><i class="fas fa-map-marked-alt mr-2 mb-3"></i>São Paulo-SP</a>
            </div>
          </div>
        </div>
  
  
  
  
        <!-- Copyright -->
        <div class="bg-footer">
        <div class="text pt-1" style="background-color: rgba(0, 0, 0, 0.2);">
          <a class="text">Sobre nós: Indica Job's</a>
        </div>
        <div class="text p-3 " style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright:
          <a class="text" href="brazil.generation.org">Generation Brasil</a>
        </div>
      </div>
        <!-- Copyright -->
      </footer>