.bg{
    background-color: #F1F2F6;
}
.f-30{
    font-size: 30pt;
    color: #6F1E51;
}

.ft{
    color: #6F1E51;
    font-size: 12pt;
}

.linha{
    padding: 20px;
    background-color: #F1F2F6;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .hb:hover{
    background-color: #1289A7;
    color: #ffffff ;
  }
  
  .hr:hover{
    background-color: crimson;
    color: #ffffff;
  }
  
  .borda-b{
    border: 1px solid #6F1E51;
    background-color: #F1F2F6;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }

  .borda{
    border: 1px solid #1289A7;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }