.fs-54{
  color: #6F1E51;
  font-size: 54pt;
}
.fs-18{
  color: #6F1E51;
}

.bg{
  background-color:
  #F1F2F6;
}

.form-group{
  color:
  #1289A7;
}

.hb:hover{
  background-color: #1289A7;
}

.hr:hover{
  background-color: crimson;
}
.txt{
  color:#6F1E51;
}
