<!--NavBar-->
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-light bg-light" id="linha-horizontal">
  <div class="container-fluid d-flex">
    <a class="navbar-brand" href="#"><img src="../../assets/img/logo-nav-bar.png" alt="" width="180"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="col-md-6">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Sobre Nós</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 d-flex justify-content-end" id="logarBotao">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink='/login-cadastrar'>
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              <span class="sr-only">(current)</span>
              Login/Cadastrar
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!--/NavBar-->

<!--Bem-Vindo-->
<div class="container-welcome">
  <div class="row">
    <div class="col-md-6">
      <h1 id="titulo">Seja Bem Vinde ao IndicaJob's</h1>
      <p>A rede social que aproxima as Empresas dos Usuários por meio de Indicações!</p>
    </div>
    <div class="col-md-6">
      <img class="logo" src="../../assets/img/Logo-sobre-nos.png" alt="">
    </div>
  </div>
</div>
<!--/Bem-Vindo-->

<!--Sobre-Nós-->

<div class="container-sobreNos">
  <div class="row-texto">
    <div class="col-md-6">
      <h1>Sobre Nós</h1>
      <p>O IndicaJob's foi criado para ser apresentado como Projeto Final de grupo da Turma-35 do Curso Bootcamp para
        Desenvolvedores Web Full Stack Java da ONG Generation Brasil. Com o objetivo de apresentar soluções técnológicas
        para alcançar a ODS 8 da ONU: Trabalho Decente e Crescimento Ecônomico. A idéia por trás do Projeto é criar uma
        rede social que consiga unir Empresas que possuam vagas e usuários que possam ser indicados ou que indiquem
        outros usuários para essas vagas, por meio de postagens. O grupo é composto por: </p>
      <ol>
        <li>Bruno Pajtak</li>
        <li>Drislaine Faro</li>
        <li>Kathleen Caroline</li>
        <li>Robson Coura</li>
        <li>Thaís Pereira</li>
      </ol>
    </div>
    <div class="row">
      <div class="col-md-6">

      </div>
    </div>
  </div>

</div>
<!--Footer-->
<footer class="bg text-center text-lg-start">

  <div id="linha-horizontal">
    <div class="container contact-box pt-2 d-flex justify-content-center">

      <div class="col-md-4">
        <i class="fab fa-github-alt mr-2 mb-3"></i>
        <a href="https://github.com/IndicaJobs" target="_blank">Indica Job's</a>
      </div>



      <div class="col-md-4">
        <i class="fas fa-at mr-2 mb-3"></i>
        <a href="mailto:indicajobs35@gmail.com" target="_blank">E-mail</a>
      </div>



      <div class="col-md-4">
        <i class="fas fa-map-marked-alt mr-2 mb-3"></i>
        <a href="">São Paulo-SP</a>
      </div>
    </div>
  </div>




  <!-- Copyright -->
  <div class="text pt-1" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class="text">Sobre nós: Indica Job's</a>
  </div>
  <div class="text p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text" href="brazil.generation.org">Generation Brasil</a>
  </div>
  <!-- Copyright -->
</footer>
