#logarBotao{
  border-color: 5px black;
}

.logo{
  width: 600px;

}


.container-welcome {
  height: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px;
  border-bottom: 1px solid #1289A7;
  background-color: #F1F2F6;

}
.container-welcome h1{
  padding-top: 100px;
  font-weight: 600pt;
  font-size: 54px;
  text-align: center;
  line-height: 50px;
  padding-top: 50px;
  color: #4e87a4;
  font-family: 'Montserrat Alternates', sans-serif;
}
.container-welcome p{
  font-style: italic;
  font-size: 24px;
  text-align: center;
  color: #6F1E51;
}
#welcome{
  padding-right: 100px;
  width: 900px;
}
.row-texto{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg{
  background-color: #6F1E51;
  border-radius: 5px 5px 0 0;

}

.text{
  color: white;
}

.col-md-4{
  color: darkgray;
}

a{
  color:darkgrey ;
}

#linha-horizontal {
  width: auto;
  border-radius: 5px;
  padding: 1px;
  background: #FFFFFF;
  border: 1px solid #1289A7;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

/* Configurações dos ícones*/

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 25px;
  font-size: 22px;
  color: #6F1E51;
  top: 0;
  line-height: 12px;
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 15px;
    color: #6F1E51;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 30px;
    margin: auto auto 2px auto;
    top: 0;
    line-height: 24px;
  }

}
.container-sobreNos{
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #FFFFFF;
}
#textSobre {
  display: flex;
  justify-content: center;
  margin-top: 30px;

}

.container-sobreNos p {
  text-align: justify;
  font-size: 24px;
  line-height: 30px;
  color: #6F1E51;
}
#sobre{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-sobreNos h1{
  color: #1289A7;
  font-size: 54pt;
  font-family: 'Montserrat Alternates', sans-serif;

}
.container-equipe {
  display: flex;
  justify-content: center;
  background-color: #F1F2F6;
}
.container-tituloEquipe{
  border-top: 1px solid #1289A7;
  padding-top: 100px;
  background-color: #F1F2F6;
}
.container-tituloEquipe h1{
  color: #1289A7;
  font-size: 50pt;
  font-family: 'Montserrat Alternates', sans-serif;
}



figure img {
  width: 300px;
  height: 300px;
  margin: none;
  box-sizing: border-box;
  box-shadow: 10px 2px 5px 5px rgba(0, 0, 0, 0.25);
}
.container-tituloEquipe{
  border-top: 1px solid #1289A7;
  padding-top: 100px;
}
.container-tituloEquipe h1{
  color: #1289A7;
  font-size: 50pt;
  font-family: 'Montserrat Alternates', sans-serif;
}


figure img {
  width: 300px;
  height: 300px;
  margin: none;
  box-sizing: border-box;
  box-shadow: 10px 2px 5px 5px rgba(0, 0, 0, 0.25);
}
figcaption{
  font-size: 20px;
  color: #6F1E51;
  font-family: 'Montserrat Alternates', sans-serif;

}

.box{
  display: inline-block;


}

.container-porque{
  background-color: #F1F2F6;

  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #FFFFFF;
  border-top: 1px solid #1289A7;
}

.container-porque h1{
  color: #1289A7;
  font-size: 54pt;
  font-family: 'Montserrat Alternates', sans-serif;
  line-height: 60px;
}

.container-porque p {
  text-align: justify;
  font-size: 24px;
  line-height: 30px;
  color: #6F1E51;

}
/* /Configuração dos ícones */