mat-toolbar {
  color: #6F1E51E5
}

mat-sidenav {
margin: 16px;
position: absolute;
width: 300px;
height: 705px;
border-right: none;
text-align: center;
font: Roboto;
background: #ffffff;
border-radius: 5px;
}

mat-sidenav-container{
  height: calc(100vh - 65px);
}

.content {
    width: 800px;
    height: 800px;
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

}

#linhaVertical {
  width: auto;
  height: 100px;
  background: #1289A7;
  box-sizing: border-box;

}
.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
mat-icon {
      margin-right: 8px;
  }
.avatar {
  position:relative;
  margin: -80px 0px 0px 0px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 25px;
  color: black;
  text-align: start;
  padding-left: 20px;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.button{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.btn-Post{
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  width: 700px;
  height: 40px;
  border-top: 5px solid #1289A7;
  border-left: 1px solid #6F1E51E5;
  border-right: 1px solid #6F1E51E5;
  border-bottom: 1px solid #6F1E51E5;
  box-sizing: border-box;
}

.far {
  color: #6F1E51E5;

}
