  .borda{
    border: 1px solid #1289A7;
    background-color: #F1F2F6;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  .borda-2{
    border-top: 1px solid #1289A7;
    border-bottom: 1px solid #1289A7;
  }
  
  .borda-b{
    border: 1px solid #6F1E51;
    background-color: #F1F2F6;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  .modal-title{
    color: #6F1E51;
    font-size: 20pt; 
  }
  
  .txt{
    color: #6F1E51;
    font-size: 12pt;
  }
  
  .hb:hover{
    background-color: #1289A7;
    color: #ffffff ;
  }
  
  .hr:hover{
    background-color: crimson;
    color: #ffffff;
  }  
  
  .content {
      width: 800px;
      height: 800px;
      border-radius: 10px;
      margin: 16px;
      margin-left: 32px;
  
  }
  
  #linhaVertical {
    width: auto;
    height: 100px;
    background: #1289A7;
    box-sizing: border-box;
  
  }  
  .button{
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .btn-Post{
    border-radius: 5px;
    display: flex;
    flex-direction: end;    
    width: 500px;
    height: 40px;
    border-top: 5px solid #1289A7;
    border-left: 1px solid #6F1E51E5;
    border-right: 1px solid #6F1E51E5;
    border-bottom: 1px solid #6F1E51E5;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }

  .btn-Post:hover{
    background-color: #6F1E51;
    color: #1289A7;
  }
  
  .far {
    color: #6F1E51E5;

  }

  .bg{
    background-color: #F1F2F6;
  }

